@model Planet
@{
    ViewData["Title"] = "Edit Planet";
}

<form asp-action="Edit">
    <div class="form-group">
        <label>Name</label>
        <input localized-for="Name" />
    </div>  
    <button type="submit" class="btn btn-dark">Submit</button>
</form>
