@page "~/docs/getting-started"
@{
    ViewData["Title"] = "Getting Started";
}

<markdown filename="docs/GettingStarted.md"></markdown>

<div class="ui clearing segment">
<a asp-page="AspNetCore" class="ui right floated button">Next <i class="right chevron icon"></i></a>
</div>
