<div class="item">
    <a class="ui logo icon image" href="/">
        <img class="ui medium rounded image" src="https://xaki.azureedge.net/assets/logo-icon-636734782164441383.svg" alt="Xaki" />
    </a>
    <a href="/">
        <strong>Xaki</strong>
    </a>
</div>

<div class="item">
    <div class="header">Header</div>
    <div class="menu">
        <a class="item" href="/">Link 1</a>
        <a class="item" href="/">Link 2</a>
        <a class="item" href="/">Link 3</a>
        <a class="item" href="/">Link 4</a>
        
    </div>
</div>
