<div class="item">
    <a class="ui logo icon image" href="/">
        <img class="ui medium rounded image" src="https://xaki.azureedge.net/assets/logo-icon-636734782164441383.svg" alt="Xaki" />
    </a>
    <a href="/">
        <strong>Xaki</strong>
    </a>
</div>

<div class="item">
    <div class="header">Getting Started</div>
    <div class="menu">
        <a class="item" asp-page="GettingStarted">Overview</a>       
    </div>
</div>
