<div class="item">
    <a class="ui logo icon image" href="/">
        <img class="ui medium rounded image" src="https://cdn.xaki.io/assets/logo-icon-636734782164441383.svg" alt="Xaki" />
    </a>
    <a href="/">
        <strong>Xaki</strong>
    </a>
</div>

<div class="item">
    <div class="ui inverted vertical menu">
        <a class="item" asp-page="GettingStarted">Getting Started</a>
        <a class="item" asp-page="AspNetCore">ASP.NET Core</a>
        <a class="item" asp-page="AspNetMvc">ASP.NET MVC</a>
        <a class="item" asp-page="EfCore">EF Core</a>
    </div>
</div>
